name: docs-multiversion

on:
  push:
    branches: [main]

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with: {fetch-depth: 0}

      - uses: actions/setup-python@v5
        with: {python-version: "3.11"}

      - run: python -m pip install -e ".[dev]" -r docs/requirements.txt
      - run: python docs/sphinx_build_multiversion.py

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITLAB_TOKEN }}
          publish_dir: docs/_build/html
