name: Test and publish
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'main'
    tags:
      - '*'

jobs:
  notebook_tests:
    name: Notebook tests
    runs-on: ubuntu-latest
    container: python:3.11.2-slim
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
      - run: python -m pip install -e .[dev] # install in editable mode with additional development tools
      - name: Run tests
        run: pytest -v --junitxml=coverage.xml --cov-report=term-missing:skip-covered --cov=ftag --nb-force-regen ftag/tests/
      - name: Install git
        run: apt update && apt install -y git
      - name: Report coverage with Codecov
        uses: codecov/codecov-action@v3
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: example.ipynb
          path: ftag/example.ipynb

  publish:
    name: Publish to PyPI
    needs: [notebook_tests]
    # Only run for a tagged commit
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v1
        with:
          python-version: 3.11
      - name: Build package
        run: |
          python -m pip install -U pip build
          python -m build
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.1.0
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
      # - name: Publish to PyPI
      #   uses: pypa/gh-action-pypi-publish@v1.1.0
      #   with:
      #     user: __token__
      #     password: ${{ secrets.PYPI_TOKEN }}
      #     repository_url: https://upload.pypi.org/legacy/
